<form method="post" action="{{ path('show_delete', {'id': show.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimez?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ show.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
