{% extends 'base.html.twig' %}

{% block title %}Liste des Shows{% endblock %}

{% block body %}

<h1>Liste des {{ ressource }}</h1>

<ul>
{% for show in shows %}
    <li>{{ show.title}}
    {% if show.bookable %}
        <span style="font-weight: bold;">{{show.price}} $</span>
    {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
