{% extends 'base.html.twig' %}

{% block title %}Liste des Locations{% endblock %}

{% block body %}

<h1>Liste des {{ ressource }}</h1>

<ul>
{% for location in locations %}
    <li>{{location.designation}}
        {% if location.website%}
        - <a href="">{{ location.website }}</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock %}
