{% extends 'base.html.twig' %}

{% block title %}Liste des Representations{% endblock %}

{% block body %}

<h1 class="display-1 my-5">Liste des {{ ressource }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Lieux</th>
            <th>Horaires</th>
        </tr>
    </thead>
    <tbody>
        {% for representation in representations %}
            <tr>
                <td>{{ representation.theShow.title}}</td>
                <td>
                    {% if representation.theLocation %}
                    {{ representation.theLocation.designation }}
                    {% else %}
                    <span style="color:red;">Lieux non préciser<span>
                    {% endif %}
                </td>
                <td>{{ representation.schedule|date('d-m-Y H:i') }}</td>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
</table>

{% endblock %}
