{% extends 'base.html.twig' %}

{% block title %}Liste des Artistes{% endblock %}

{% block body %}

<h1 class="display-1 my-5">Liste des {{ressource}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in artists %}

            <tr>
                <td>{{artist.firstname}}</td>
                <td>{{artist.lastname}}</td>
            </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}
